.headingChild {
  height: 1px;
  flex: 1;
  position: relative;
  border-top: 1px solid #d0dbff;
  box-sizing: border-box;
  min-width: 163px;
  max-width: 100%;
}
.contactUs {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.heading,
.heading1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-width: 100%;
}
.heading1 {
  width: 1140px;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  padding: 0 390px 0 0;
  gap: 40px 36px;
}
.heading {
  align-self: stretch;
  overflow: hidden;
  align-items: flex-start;
  justify-content: center;
  align-content: flex-start;
  padding: 83px var(--padding-xl);
}
.contact,
.willaimsExcavation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.contact {
  align-self: stretch;
  background-color: #f3f5fc;
  align-items: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: var(--heading-1-size);
  color: var(--color-black);
  font-family: var(--heading-1);
}
.willaimsExcavation {
  width: 100%;
  position: relative;
  background-color: var(--white);
  overflow: hidden;
  align-items: center;
  gap: var(--gap-xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .heading1 {
    padding-right: 195px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .contactUs {
    font-size: 45px;
    line-height: 54px;
  }
}
@media screen and (max-width: 750px) {
  .heading1 {
    gap: var(--gap-lg);
    padding-right: 97px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .contactUs {
    font-size: 34px;
    line-height: 40px;
  }
  .heading1 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
